
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	background-color: white;
}
h1 {
	color: black;
	font-size:46px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding:10px 10px;
}

h2{
	color: grey;
	font-size:36px;
	font-family:'Montserrat', sans-serif;
	text-align: center;
}

img {
	display:block;
	margin:auto;
	width: 113px;
	height: 103px;
}

p {
	color: black;
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

form {
	color: black;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

footer {
	color: black;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

button {
	font-color: black;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	border-color: grey;
	background-color: grey;
	border-radius:20px;
	padding: 10px 10px;
	margin:10px 10px;
}

label {
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
}

input {
	font-color: black;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 10px;
	margin:10px 10px;
}

#olvidado {
	font-color: black;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
	color: grey;
}

a{
	color: black;
}
